/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
*.txt
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env
/.sass-cache
*.cljs#
/src/cljs/cosm/pages/.#schedule.cljs
/.rebel_readline_history
